@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-image {
  opacity: 1;
  clip-path: inset(100% 0 0 0);
  animation: reveal 1.5s ease-in-out forwards infinite;
  animation-delay: -0.45s;
}

.loading-image-background {
  clip-path: inset(20% 0 0 0);
}

@keyframes reveal {
  0% {
    clip-path: inset(20% 0 0 0);
  }
  5% {
    clip-path: inset(20% 0 0 0);
  }
  30% {
    clip-path: inset(100% 0 0 0);
  }
  40% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(20% 0 0 0);
  }
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib {
  margin-bottom: env(safe-area-inset-bottom) !important;
}


.safe-area {
    margin-top: env(safe-area-inset-top);
    margin-right: env(safe-area-inset-right);
    margin-bottom: env(safe-area-inset-bottom);
    margin-left: env(safe-area-inset-left);
}

.mapboxgl-marker-semi-transparent-opacity {
  opacity: 0.5 !important;
}
.mapboxgl-marker-semi-transparent-filter {
  filter: brightness(1.2) contrast(1.2) saturate(0.3);
}

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);

  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.animate-bounce-custom {
  animation: rainbow 3s, custom-bounce 1s 3;
}
